/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

/* COMMON */
/* Layout */

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  line-height: 30px;
  max-width: 80%;
  padding-top: 20px;
}

.container-header {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-main {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-footer {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.white-font {
  color: white;
}

.purple-font {
  color: #7289da;
  margin-top: 40px;
}

.box-white {
  align-items: center;
  text-align: right;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: white;
  font-size: 14px;
}

.box-purple {
  align-items: center;
  text-align: right;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #7289da;
  font-size: 14px;
  margin-bottom: 60px;
}

.box-black {
  align-items: center;
  text-align: right;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #23272a;
  font-size: 14px;
}

/* Background */
.bg-img-main {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
}

.bg-gray {
  background-color: #f6f6f6;
  /* background-image: url(../img/wave.svg); */
}

/* Header */
.header-bg {
  height: 80px;
  /* debug */
  background-color: #255ee9;
  align-content: center;
}

.flex-container-header {
  display: flex;
  padding: 8px;
  justify-content: space-between;
  /* debug */
  background-color: #255ee9;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-link {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}

/* Main */

.flex-container-main {
  display: flex;
}

.link-access {
  margin-right: 20px;
}

.introduction {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.paragraph-centered {
  text-align: center;
}
.main-1 {
  max-width: 900px;
}

.main-bg {
  padding-top: 100px;
  padding-bottom: 100px;
  align-content: center;
  align-items: center;
}

.col-70 {
  width: 70%;
}

.col-30 {
  width: 30%;
  margin-top: 50px;
}

/* quarta sezione */
.flex-container-main-4 {
  display: flex;
}

.introduction-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding-top: 80px;
}

.main-bg-gray-2 {
  align-content: center;
  /* debug */
  background-color: #f6f6f6;
}

/* quinta sezione */
.main-bg-black {
  background-color: #23272a;
  align-content: center;
}

.left-col-pink {
  width: 40%;
}

.right-col-green {
  width: 60%;
  display: flex;
}

.col-25 {
  width: 25%;
  margin-right: 200px;
}

.italian-flag {
  width: 30px;
  height: auto;
  margin-top: 20px;
}

.social-network {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

.social-network i {
  font-size: 20px;
  color: white;
}

.language {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Footer */
.footer-bg {
  margin-top: 1px;
  padding: 20px;
  /* debug */
  background-color: #23272a;
}

.flex-container-footer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  /* align-items: center; */
}

.flex-container-footer-1 {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
}

.ul-footer li {
  margin-top: 30px;
  text-decoration: none;
  list-style: none;
}

.box-purple-footer {
  align-items: center;
  text-align: right;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #7289da;
  font-size: 14px;
  margin-bottom: 10px;
}
